{include file="public/header/head.html" /}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>高校公寓管理系统->by wbw</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="favicon.ico" /> </head>
<!-- END HEAD -->

<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="/../public/static/assets/pages/img/logo-big.png" alt="" /> </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
        <h3 style="text-align: center"> 贵重物品登记</h3>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" id="StudentNo" type="text" autocomplete="off" oninput="get_valuables()" onporpertychange="get_valuables()" placeholder="请输入学号" name="StudentNo"/></div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-cubes"></i>
                <input class="form-control placeholder-no-fix" id="Valuables" type="text" autocomplete="off" name="valuables" placeholder="请输入贵重物品" /> </div>
        </div>
        <div class="form-actions">
            <button onclick="valuables_submit()" class="btn green btn-block"> 提交 </button>
        </div>
        <p>注：输入学号后，如您注册的时候已经添加贵重物品，贵重物品会自动加载出来，如您贵重物品已经变了，直接删除自动加载出来的任何重新填写</p>
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright"> <?php echo date('Y');?> &copy; wangbowen - 高校公寓管理系统. </div>
</body>

</html>
<script>
    $.backstretch([
                "/../public/static/assets/pages/media/bg/xuex1.jpg",
                "/../public/static/assets/pages/media/bg/xuex7.jpeg",
                "/../public/static/assets/pages/media/bg/xuex5.jpg",
                "/../public/static/assets/pages/media/bg/xuex4.jpg"
            ], {
                fade: 1000,
                duration: 8000
            }
    );
    /**
     * 输入学号后加载贵重物品方法
     */
    function get_valuables() {
        var StudentNo=document.getElementById("StudentNo").value;
        StudentNolength=StudentNo.length;
        if(StudentNolength == 11){
            $.ajax({
                cache:false,
                type:"POST",
                url:"{:url('admin/common/ValuablesInfo')}",
                dataType:"json",
                data:{StudentNo:StudentNo},
                timeout:30000,
                error:function(){
                    alert('admin/Common/ValuablesInfo?StudentNo='+StudentNo);
                },
                success:function(data){
                    document.getElementById("Valuables").value=data[0].Valuables;
                }
            });
        }else{
            get_valuables;
        }
    }
    function valuables_submit(){
        var StudentNo=document.getElementById("StudentNo").value;
        var Valuables=document.getElementById("Valuables").value;
        data_Valuables={StudentNo:StudentNo,Valuables:Valuables};
        $.ajax({
            cache:false,
            type:"POST",
            url:"{:url('student/studentvaluablesinfo/valuablesregistration')}",
            dataType:"json",
            data: data_Valuables,
            timeout:30000,
            error:function(){
                alertMsg(data.msg,'info');
            },
            success:function(data){
                alertMsg(data.msg,'info');
            }
        });
    }
</script>

