
{extend name="public/header/index.html" /}
{block name="content"}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">首页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>概况</span>
        </li>
    </ul>
</div>
<h3 class="page-title"> 总体概况
    <small></small>
</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="1349">1349</span>
                </div>
                <div class="desc"> 新增报修 </div>
            </div>
            <a class="more" href="javascript:;"> 查看更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="12,5">12,5</span></div>
                <div class="desc"> 违规记录 </div>
            </div>
            <a class="more" href="javascript:;"> 查看更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup" data-value="549">549</span>
                </div>
                <div class="desc"> 贵重物品登记 </div>
            </div>
            <a class="more" href="javascript:;"> 查看更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number"> +
                    <span data-counter="counterup" data-value="89">89</span>% </div>
                <div class="desc"> 离校登记 </div>
            </div>
            <a class="more" href="javascript:;"> 查看更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>


{/block}